body{
    background-image: url("https://u.profitroom.pl/2017.skypoland.pl/thumb/2560x1440/uploads/shutterstock_15162149961.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper{
    font-size: 16px;
    font-family: 'Delicious Handrawn', cursive;
    display: flex;
    flex-direction: column;
}

.weather-containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forecontainer1,.forecontainer2,.forecontainer3{
    margin: 0 auto;
}

.forecontainer1{

}

.forecontainer2{

}

.forecontainer3{

}

.currcontainer{

}
/*
#welcometext{
    background-color: rgb(135, 234, 118);
    color: #ffffff;
    display: flex;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 30px;
    text-align: center;
    padding: 20px;
}
#welcometext::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, transparent);
    z-index: -1;
} */

.container{
    backdrop-filter: blur(10px);
    padding: 1em 1.8em;
    border: 2px solid rgba(121, 184, 212, 0.5);
    border-radius: 1em;
    box-shadow: 0 0.8em 1.8em rgba(3,46,87,1);
    text-align: center;
}

    .locname{
        display: block;
        width: fit-content;
        margin: 0 auto 15px;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .condtext{
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-size: 24px;
        color: rgb(255, 255, 255);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .condtext:hover,.locname:hover,.tempnumber:hover,.loctime:hover{
        transform: scale(1.1);
        color: rgb(250, 233, 198);
    }

    .condimg{
        display: block;
        width: fit-content;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
    }
    .condimg:hover{
        transform: scale(1.2);
    }

    .tempnumber{
        display: block;
        width: fit-content;
        margin: 0 auto 15px;
        color: rgb(255, 255, 255);
        font-size: 48px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .loctime{
        display: block;
        width: fit-content;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-size: 28px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }



.search-container{
    opacity: 0.7;
    width: 30%;
    background: rgba(121, 184, 212, 0.5);
    backdrop-filter: blur(2px);
    padding: 3em 1.8em;
    border: 2px rgba(121, 184, 212, 0.5);
    border-radius: 1em;
    box-shadow: 0 0.5em 1.8em rgb(70, 79, 87);
    text-align: center;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
    margin: 0 auto 15px;
}

    .search-container input,
    .search-container button {
    outline: none;
    font-size: 1em;
    border: none;
    }

    .search-container input {
        padding: 0.2em;
        background-color: transparent;
        border-bottom: 2px solid white;
        color: white;
        font-weight: 300;
    }

    .search-container input::placeholder {
        color: white;
    }

    .search-container input:focus {
        border-color: white;
    }

    .search-container button {
        background-color: rgb(225, 246, 255);
        border-radius: 0.4em;
    }

    .search-container button:hover {
        scale: 1.1;
    }